<!DOCTYPE html>
<html lang="ca">
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minium-scale=1.0">
		<title>Layout bàsic</title>
	</head>
	<body>
		<div class="contenidor">
			<header>
				<nav>
					<ul>
						<li><a href="#">Inici</a></li>
						<li><a href="#">Sobre nosaltres</a></li>
						<li><a href="#">Productes</a></li>
						<li><a href="#">Contacte</a></li>
					</ul>
				</nav>
			</header>
			<section class="main">
				<div class="imatge">
					<img src="img/gato.jpg" alt="">
				</div>
				<section>
					<article>
						<h2>Article 1</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>
				</section>
			</section>
			<aside>
				<div class="widget">
					<h3 class="titol">Articles destacats</h3>
					<ul>
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
					</ul>
				</div>
				<div class="widget">
					<h3 class="titol">Dades</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</aside>
			<footer>
				<p>Carme Ferrer Alòs 2023 - Prova HTML i CSS</p>
			</footer>
		</div>

	</body>
</html>