/* Header */
.header {
    background-color:#c08d0c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.social-media img {
    width: 23px;
    height: 23px;
    margin: 0 5px;
}

/* Menú */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #daa520;
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
}

li.menu {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #fff8dc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #e9cd5f;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff8dc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ccac00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f0e68c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Body */
body {
    background-color:  #fff8dc;
    margin: 0;
}

/* Margen al texto */
p, h1, h2, h3 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

/* Títulos */
h1 {
    color: #daa520;
    text-align: center;
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 50px;
}

h2 {
    color: #b8860b;
    text-align: center;
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 10px;
}

h3 {
    font-family: Calisto MT, cursive;
    font-size: 25px;
    color: #986f07;
    margin-top: 20px;
}

p {
    color: #b87e0b;
    font-family:Calisto MT;
    font-size: 17px;
    margin: 3% 8% 0% 8%;
    text-align: justify;
    }

/* Estilo para listas */
li.pagina{
    color: #b87e0b;
    font-family:Calisto MT;
    font-size: 17px;
    text-align: justify;
    margin: 3% 8% 0% 8%;
}
/* Estilo para imagen */
img.derecha {
    float: right;
    margin:1% 3% 15% 1%; 
    border:#e0b646 5px solid;
    padding: 0.5%;
  }
  
/* Minijuego */
.juego{
  text-align: center;
}
.minijuego-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #986f07;
  border-radius: 10px;
  background-color: #fff;
}
.fila-palabras {
  margin: 15px 0;
}
.palabra {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 1px solid #986f07;
  border-radius: 5px;
  background-color: #e0f7fa;
  cursor: pointer;
}
.palabra:hover {
  background-color: #daa520;
}

/* Footer */
.footer {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 20px;
  font-size: 0.9rem;
  font-family:Calisto MT;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-contact {
  max-width: 50%;
  margin-right: 20px;
}

.footer-contact h3 {
  color: #7CB342;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family:Calisto MT;
}

.footer-contact p {
  line-height: 1.6;
  margin: 5px 0;
  color: white;

}

.footer-bottom {
  flex: 1;
  text-align: right;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
  color: white;
  text-align: right;

}

.footer-bottom a {
  color: #7CB342;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logos {
  margin-top: 10px;
}

.footer-logos img {
  height: 40px;
  margin: 0 10px;
}