/* HEADER */
.header {
  background-color: #a15818;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.social-media img {
  width: 23px;
  height: 23px;
  margin: 0 5px;
}
/* MENÚ */
ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #bc6c25 ;
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li.menu{
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #fefae0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #dda15e;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffe1be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #283618;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #e1b37f;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* PÁGINA */
body {
      background-color: #fefae0;
      margin: 0;
  }

  p, h1, h2, h3 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
  }

h1 {
    color:#283618;
    text-align: center;
    font-size: 60px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 50px;
}

h2 {
    color:#606c38 ;
    text-align: center;
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 10px;
}

h3 {
    font-family: Calisto MT, cursive;
    font-size: 25px;
    color:#606c38;
    margin-top: 20px;
  }

p {
    color: #606c38;
    font-family:Calisto MT;
    font-size: 17px;
    margin: 3% 8% 0% 8%;
    text-align: justify;
    }

li.pagina{
  color: #606c38;
  font-family:Calisto MT;
  font-size: 17px;
  text-align: justify;
  margin: 3% 8% 0% 8%;

}

img.derecha {
  float: right;
  margin:1% 8% 3% 1%; 
  border: #606c38 5px solid;
  padding: 0.5%;
}

img.izquierda {
  float: left;
  margin:6% 1% 3% 10%; 
  
  padding: 0.5%;
}

/*JUEGO*/
.juego{
  text-align: center;
}
#prado {
  width: 600px;
  height: 325px;
  border: 5px solid #bc6c25;
  margin: 20px auto;
  background-image: url('img/prado.jpg');
  background-size: cover;
  position: relative;
}
.arbol {
  width: 100px;
  cursor: grab;
}
#contenedor-arboles {
  margin-top: 20px;
  text-align: center;
}
#mensaje{
  text-align: center;
}
button{
  background-color: #606c38;
  color: #fefae0;
  width: 130px;
  height: 40px;
  font-family:Calisto MT;
  font-size: 17px;
  margin: 0px 50px;
}

/* Footer */
.footer {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 20px;
  font-size: 0.9rem;
  font-family:Calisto MT;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-contact {
  max-width: 50%;
  margin-right: 20px;
}

.footer-contact h3 {
  color: #7CB342;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family:Calisto MT;
}

.footer-contact p {
  line-height: 1.6;
  margin: 5px 0;
  color: white;

}

.footer-bottom {
  flex: 1;
  text-align: right;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
  color: white;
  text-align: right;

}

.footer-bottom a {
  color: #7CB342;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logos {
  margin-top: 10px;
}

.footer-logos img {
  height: 40px;
  margin: 0 10px;
}