/* Header */
.header {
  background-color: #7CB342;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.social-media img {
  width: 23px;
  height: 23px;
  margin: 0 5px;
}

/* Menú */
ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #283e06 ;
    position: auto;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li.menu{
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #d9ef9f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #445a14;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9ef9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #203500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #96ac60;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* General */
body {
  background-color: #eefdc7;
  margin: 0;
  font-family:Calisto MT;
}

/* Sobre Nosotros */
h1, h2, h3 {
  text-align: center;
  color: #283e06;
}

h1 {
  margin-top: 60px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
}

h3 {
  font-size: 20px;
  font-style: italic;
  color: #445a14;
  margin-bottom: 20px;
}

.intro p, .info-section p {
  color: #14532d;
  font-size: 16px;
  margin: 20px 10%;
  text-align: justify;
}

/* Video */
.video-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.video-container video {
  max-width: 80%;
  border: 5px solid #445a14;
  border-radius: 10px;
}

/* Galería */
.photos-section {
  text-align: center;
  margin: 40px 0;
}

.photo-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}

.photo-box img {
  width: 300px;
  height: 250px;
  border: 5px solid #445a14;
  border-radius: 10px;
  object-fit: cover;
}


/* Footer */
.footer {
  background-color: #1c1c1c;
  color: white;
  padding: 20px 20px;
  font-size: 0.9rem;
  font-family:Calisto MT;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-contact {
  max-width: 50%;
  margin-right: 20px;
}

.footer-contact h3 {
  color: #7CB342;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family:Calisto MT;
}

.footer-contact p {
  line-height: 1.6;
  margin: 5px 0;
}

.footer-bottom {
  flex: 1;
  text-align: right;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color: #7CB342;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logos {
  margin-top: 10px;
}

.footer-logos img {
  height: 40px;
  margin: 0 10px;
}

 